<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

  {% include head.html %}

  <body id="page-top">
		{% if site.data.sitetext[site.locale].socials.news-fb-url %}
		<!-- Facebook page embed JavaScript and responsive width script -->
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="1B9HBNUs"></script>
		<script>
			$(window).on('resize', function() {
   			setTimeout(function(){CMSSpace.changeFBPagePlugin()}, 500);
			});

			$(window).on('load', function() {
			   setTimeout(function(){CMSSpace.changeFBPagePlugin()}, 1500);
			});

			CMSSpace.changeFBPagePlugin = function () {
			   //getting parent box width
			   var container_width = (Number($('.fb-column').width()) - Number($('.fb-column').css('padding-left').replace("px", ""))).toFixed(0);
			   //getting parent box height
			   var container_height = (Number($('.fb-column').height()) - (Number($('.fb-column-header').height()) + Number($('.fb-column-   header').css('margin-bottom').replace("px", "")) + Number(($('.fb-column').css('padding-top').replace("px", "")*2)))).toFixed(0);
			   if (!isNaN(container_width) && !isNaN(container_height)) {
			      $(".fb-page").attr("data-width", container_width).attr("data-height", container_height);
			   }
			   if (typeof FB !== 'undefined' ) {
			      FB.XFBML.parse();
			   }
			}
		</script>
		{% endif %}

      {{ content }}

	  {% include footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="assets/js/jquery.min.js"></script>
	  <script src="assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="assets/js/jquery.easing.min.js"></script>

	  <!-- Contact form JavaScript -->
	  <script src="assets/js/jqBootstrapValidation.js"></script>
	  <script src="assets/js/contact_me.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="assets/js/agency.min.js"></script>

  </body>
</html>