// Styling for the social media section
.socials-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 125px;
    height: 125px;
    border: 7px solid fade-out($black, 0.9);
    transition: border 0.2s ease-in;
  }
  img:hover {
    border: 7px solid fade-out($primary, 0)
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}